body {
	/*background: #D0E4F5 url("bg.jpg") repeat fixed 50% 50%; */
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}



 
#contenedor {
	width: 1200px;
	height:1000px;
	/* background-color:darkgrey; */
	margin: 0.5em auto;
	padding: 0;
}
#contenedor_log {
	width: 1200px;
	height:700px;	
	margin: 0.5em auto;
	padding: 0;
	
}

#header {
	height: 3%;
	background-color: #01422C;
	margin: 1em;
	border-radius: 1em;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 21px;
	letter-spacing: -0.4px;
	word-spacing: 0.4px;
	color: white;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

#nav {
	height:10%;
	background-color: lightgrey;
	margin: 1em;
	border-radius: 1em;
}	

#nav_log {
	height:20%;
	background-color: fefae0;
	margin: 0em;
	border-radius: 0em;
}

#contenido {
	height: 53%;
	background-color: white;
	margin: 1em;
}

#contenido_log {
	height: 74%;
	background-color: white;
	margin: 1em;
	float: center;
}

#footer {
	height: 11%;
	background-color:fefae0;
	margin: 1em;
	border-radius: 1em;
}

#section{
	height: 97%;
	width: 14%;
	background-color: #30654B;
	color: white;
	border-radius: 1em;
	margin-left: 0.5em;
	float: left;
	
}

#aside {
	height: 97%;
	width: 83%;
	background-color: #FFF7D8;
	border-radius: 1em;
	margin-right: 0.5em;
	float: right;	
}



input[type=button], input[type=submit], input[type=reset] {
  background-color: #01422C;
  border: none;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: center;
  border-radius: 2em;
}


input[type=text], input[type=date], input[type=text], input[type=number], input[type=password], select {
   /*
   border-radius: 5px;
   background-color: #def;
   */
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
 }


input[id=user], select {
	/*
	border-radius: 5px;
	background-color: #def;
	*/
	width: 30%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

 input[type=password], select {
   width: 30%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
  }
 